@import url("https://fonts.cdnfonts.com/css/sf-pro-display");


/*body*/

body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}



/*navbar*/

.logo {
    width: 50px;
    height: auto;

}

nav {
    backdrop-filter: blur(15px);
    padding-block: 15px;
    background: #6E40C9;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 99;
}

nav .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: 35px;
}


nav .content ul {
    display: flex;
    list-style: none;
    gap: 4vw;
}





.mobile-menu {
    position: absolute;
    background-color: rgba(11, 11, 11, 0.95);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    overflow-x: hidden;
}

.mobile-menu .mobile-items {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.mobile-menu .fa-x {
    color: white;
    font-size: 1.8rem;
    position: relative;
    right: -10rem;
}

.mobile-menu ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.mobile-routes li {
    margin-top: 5vh;
}

.mobile-routes li a {
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: normal;
}

.mobile-routes li .current {
    color: white;
    font-weight: bold;
}






.mobile-nav {
    display: none;
}




::-webkit-scrollbar {
    width: 10px;
}



::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}








.card{
    width: 50%;
    margin: 175px auto 75px auto;
}

@media screen and (max-width: 800px) {
    .card{
        width: 70%;
        margin: 175px auto 75px auto;
    }

    

    

    .mobile-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

}

@media screen and (max-width: 600px) {
    nav {
        padding-block: 10px;
        border-bottom: 0.1px solid white;
    }
    .card{
        width: 85%;
        margin: 175px auto 75px auto;
    }
}

.card-title{    
    margin-top: 20px;
}   

.purple{
    color: #6E40C9;
    

}

.purple-signup{
    color: #6E40C9;
    text-decoration: none;
    display: block; 
    width: fit-content; 
    margin: 30px auto;
   
}

.inlog-tag{
    font-weight: bold;
    font-size: small;
}

.row{
    margin-top: 25px;
}

.otherinlogs{
    margin-top: 25px;
    display: flex;
    justify-content: space-between; 
}

.loginoptions{
    display: flex; 
    justify-content: space-between;
    width: 100%;
}

.sign-up {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 45px 0 20px; 
 } 
 
p span { 
    background:#fff; 
    padding:0 10px; 
}

.password-input-wrapper {
    position: relative;
}

.password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
    cursor: pointer;
}

button{
    width: 100%;
    background-color: #6E40C9 !important;
}

.small{
    color: #6E40C9 !important;
}


.btn {
    flex: 1; 
    text-align: center; 
    margin: 0 10px; 
}

.btn i {
    margin-right: 5px; 
}

.btn-report-mobile {
    width: 100%;
    color: white; 
    border: none; 
    border-radius: 5px;
    height: 4vh;
    text-align: center;
    line-height: 4vh; 
    display: inline-block;
    box-sizing: border-box;
    
}



.home-navigation-mobile {
    display: flex; 
    width: 65%;
    margin: 175px auto 75px auto;
    height: 50vh; 
    box-sizing: border-box; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 
                0px 8px 10px rgba(0, 0, 0, 0.1), 
                0px 16px 24px rgba(0, 0, 0, 0.1); 
    border-radius: 20px; 
    padding: 20px; 
}

.home-navigation-mobile p {
    text-decoration: underline;
}


.profile-mobile {
    height: 4vh;
    border-radius: 50%;
    object-fit: cover; 
}


.home-menu-left-mobile {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: space-between;
    flex: 1; 
    padding: 20px; 
    box-sizing: border-box;
}

.home-menu-right-mobile{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: space-between;
    flex: 1; 
    padding-top: 30%; 
    padding-bottom: 30%;
    box-sizing: border-box;
}

.home-menu-left-mobile i, .home-menu-right-mobile i {
   font-size: 30px;
}

p{
    margin-bottom: 0;
}

@media only screen and (min-width: 767px) {
    .home-navigation-mobile {
        display: none;
    }
}

.sidenav {
    height: 100%;
    width: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    border-right: 1px solid rgb(172, 172, 172);
    display: flex;
    flex-direction: column;
    
}

.home-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    padding: 60% 0;
    box-sizing: border-box;
    margin-top: 100px;

}

.btn-report {
    width: 80%;
    color: white; 
    border: none; 
    border-radius: 5px;
    height: 4vh;
    text-align: center;
    line-height: 4vh; 
    display: inline-block;
    box-sizing: border-box;
    
}

.graphs {
    display: grid;
    grid-template-columns: 1.3fr 1fr; 
    grid-template-rows: 1.2fr 1fr;    
    gap: 30px; 
    height: 80vh; 
    width: 80vw;  
    box-sizing: border-box;
    margin-left: 14vw;
    margin-top: 120px;
}

.upper-left, .upper-right, .bottom-left, .bottom-right {
    width: 100%;
    height: 100%;
}

.upper-left {
    background-color: red;
}

.upper-right {
    background-color: red;
}

.bottom-left {
    background-color: blue;
}

.bottom-right {
    background-color: yellow;
}
  

@media only screen and (max-width: 767px) {
    .sidenav {
        display: none;
    }
    .graphs {
        display: none;
    }
}
  

  










