/* Fontawasome importeren */
@import url("https://fonts.cdnfonts.com/css/sf-pro-display");


body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


h1 {
    font-size: 20px;
    margin-bottom: 0;
}

.center {
    text-align: center;
}


.logo {
    width: 50px;
    height: auto;
    margin-left: 25px;
}


nav {
    backdrop-filter: blur(15px);
    padding-block: 15px;
    background: #6E40C9;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 99;
}


textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}


.card {
    width: 65%;
    margin: 120px auto 75px auto;
    box-sizing: border-box;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 
                0px 8px 10px rgba(0, 0, 0, 0.1), 
                0px 16px 24px rgba(0, 0, 0, 0.1);
}


.card-title {
    margin-top: 20px;
}


.purple {
    color: #6E40C9;
}


.inlog-tag {
    font-weight: bold;
    font-size: small;
}


.row {
    margin-top: 25px;
}


.loginoptions {
    display: flex; 
    justify-content: space-between;
    width: 100%;
}


.password-input-wrapper {
    position: relative;
}


.password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
    cursor: pointer;
}


.btn {
    width: 100%;
    background-color: #6E40C9 !important;
    color: white;
    flex: 1; 
    text-align: center; 
    margin: 0 10px;
}


.btn i {
    margin-right: 5px;
}


.btn-report-mobile {
    width: 100%;
    color: white; 
    border: none; 
    border-radius: 5px;
    height: 4vh;
    text-align: center;
    line-height: 4vh; 
    display: inline-block;
    box-sizing: border-box;
    background-color: #6E40C9 !important;
}


.home-navigation-mobile {
    display: flex; 
    width: 65%;
    margin: 175px auto 75px auto;
    height: 50vh; 
    box-sizing: border-box; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 
                0px 8px 10px rgba(0, 0, 0, 0.1), 
                0px 16px 24px rgba(0, 0, 0, 0.1); 
    border-radius: 20px; 
    padding: 20px;
}

.home-navigation-mobile p {
    text-decoration: underline;
}


.profile-mobile {
    height: 4vh;
    border-radius: 50%;
    object-fit: cover;
}


.home-menu-left-mobile {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: space-between;
    flex: 1; 
    padding: 20px; 
    box-sizing: border-box;
}


.home-menu-right-mobile {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: space-between;
    flex: 1; 
    padding-top: 30%; 
    padding-bottom: 30%;
    box-sizing: border-box;
}


.home-menu-left-mobile i, .home-menu-right-mobile i {
    font-size: 30px;
}


p {
    margin-bottom: 0;
}


@media screen and (max-width: 800px) {
    .card {
        width: 70%;
    }
}

@media screen and (max-width: 600px) {
    nav {
        padding-block: 10px;
        border-bottom: 0.1px solid white;
    }
    .card {
        width: 85%;
    }
}


.sidenav {
    height: 100%;
    width: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    border-right: 1px solid rgb(172, 172, 172);
    display: flex;
    flex-direction: column;
}


.home-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    padding: 60% 0;
    box-sizing: border-box;
    margin-top: 100px;
}


.btn-report {
    width: 80%;
    color: white; 
    border: none; 
    border-radius: 5px;
    height: 4vh;
    text-align: center;
    line-height: 4vh; 
    display: inline-block;
    box-sizing: border-box;
    background-color: #6E40C9 !important;
}


.graphs {
    display: grid;
    grid-template-columns: 1.3fr 1fr; 
    grid-template-rows: 1.2fr 1fr;    
    gap: 30px; 
    height: 80vh; 
    width: 80vw;  
    box-sizing: border-box;
    margin-left: 14vw;
    margin-top: 120px;
}


.graph {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.report-title {
    display: flex;
    align-items: center; 
    margin-bottom: 30px;
}


.marked {
    margin-left: 10px;
    background-color: rgb(244, 225, 255);
    border-radius: 20px;
    color: #6E40C9;
    padding: 3px;
}


.go-back {
    background-color: white;
    border: 0.1px solid rgb(175, 175, 175);
    margin-right: 20px;
    border-radius: 4px;
}


.green {
    border: 0.3px solid green;
    margin-top: 0;
}


.color-box {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
}

.color-box:hover {
    transform: scale(1.1);
}


input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + .color-box {
    box-shadow: 0 0 0 1px #000;
}


.color {
    color: rgb(138, 138, 138); 
    margin-right: 10px;
}


.go-back-charts {
    margin-top: 100px;
    background-color: white;
    border: 0.1px solid rgb(175, 175, 175);
    margin-left: 20px;
    border-radius: 4px;
}


.mobile-graph {
    width: 75%; 
    height: 300px;
    margin: 20px auto 0 auto; 
    background-color: #f0f0f0; 
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.intertitle {
    font-weight: 600;
    font-size: 17px;
    margin: 20px auto 0 20px;
}


.parent-div {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
    padding: 10px; 
    height: 300px;
}


.child-div {
    background-color: #f0f0f0; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.mobile-graph-small {
    width: 100%; 
    height: 50%;
    background-color: #f0f0f0; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
}


.parent-div2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 50px;
    height: 100px;
}


.marked2 {
    width: 100%;
    height: 100%;
    background-color: rgb(219, 255, 212);
    border-radius: 20px;
    color: #0d8300;
}


@media only screen and (min-width: 767px) {
    .home-navigation-mobile {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .sidenav {
        display: none;
    }
    .graphs {
        display: none;
    }

    h1 {
        font-size: 15px;
    }

    .marked {
        font-size: small;
        margin-left: 8%;
    }
}


a {
    text-decoration: none;
    color: inherit;
}
